<!-- signup Form -->
<!-- <% if (errs) { %>
        <h6 class="text-danger mt-3"><%= errs %></h6>
        <% } %>
        <form action="/signup" method="post">
          <input
            type="text"
            id="login"
            class="fadeIn second mt-5"
            name="name"
            placeholder="Name"
            required
          />
          <input
            type="text"
            id="login"
            class="fadeIn second"
            name="email"
            placeholder="Email"
            required
          /> -->
<!-- <input
            type="number"
            class="fadeIn third"
            name="phone"
            placeholder="Mobile Number"
            required
          /> -->
<!-- <input
            type="number"
            class="fadeIn third"
            name="number"
            placeholder="Number"
            required
          />
          <input
            type="password"
            id="password"
            class="fadeIn third"
            name="password"
            placeholder="Password"
            required
          />
          <input type="submit" class="fadeIn fourth mt-4 b" value="Signup" />
        </form> -->
<!-- Remind Passowrd -->
<!-- <div id="formFooter">
          <a class="underlineHover pr-2" href="#">Forgot Password?</a>
          <a class="underlineHover pr-2" href="/login">Log in?</a>-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>RegistrationForm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link
      rel="stylesheet"
      href="/signup/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css"
    />

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/signup/css/style.css" />
  </head>

  <body>
    <div
      class="wrapper"
      style="background-image: url('/signup/images/bg-registration-form-1.jpg')"
    >
      <div class="inner">
        <div class="image-holder">
          <img src="/signup/images/registration-form-1.jpg" alt="" />
        </div>

        <form action="/signup" method="post" id="formsubmit">
          <h3>Registration Form</h3>

          <% if (errs) { %>
          <h6 class="text-danger"><%= errs %></h6>
          <% } %>

          <div class="form-wrapper">
            <input
              type="text"
              placeholder="Username"
              class="form-control"
              name="name"
              id="nameid"
            />
            <i class="zmdi zmdi-account"></i>
          </div>

          <p id="userchecker"></p>

          <div class="form-wrapper">
            <input
              type="text"
              placeholder="Email Address"
              class="form-control"
              name="email"
              id="emailid"
            />
            <i class="zmdi zmdi-email"></i>
          </div>

          <div class="form-wrapper">
            <input
              type="text"
              placeholder="Phone Number"
              class="form-control"
              name="phone"
              id="phoneid"
            />
            <i class="zmdi zmdi-account"></i>
          </div>

          <div class="form-wrapper">
            <input
              type="password"
              placeholder="Password"
              class="form-control"
              name="password"
              id="passwordid"
            />
            <i class="zmdi zmdi-lock"></i>
          </div>
          <p id="passwordchecker"></p>

          <div class="form-wrapper">
            <input
              type="password"
              placeholder="Confirm Password"
              class="form-control"
              name="confirmpassword"
              id="confirmid"
            />
            <i class="zmdi zmdi-lock"></i>
          </div>
          <p id="confirmidchecker"></p>
          <!-- <input type="submit" class="fadeIn fourth mt-4 b" value="Signup" />
         -->
          <button type="submit" id="submitbtn">
            Register
            <i class="zmdi zmdi-arrow-right"></i>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>

<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
  integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script>
  $(document).ready(function () {
    // checking username
    $("#userchecker").hide();
    let userchecker = true;
    $("#nameid").keyup(function () {
      validatename();
    });

    function validatename() {
      let name = $("#nameid").val();
      if (name.length == "") {
        $("#userchecker").show();
        userchecker = false;
        return false;
      } else if (name.length <= 3) {
        $("#usercheker").show();
        $("#userchecker").html("* Name Length Must Be Greater Than 3");
        userchecker = false;
        return false;
      } else {
        $("#usercheker").hide();
      }
    }
    const email = getElementById("emailid");
    email.addEventListener("blur", () => {
      let regex = /^([\-\.0-9a-zA-Z]+)@([\-\.0-9a-zA-Z]+)\.([a-zA-Z]){2,7}$/;
      let emailvalue = email.value;
      if (regex.test(emailvalue)) {
        email.classList.remove("is-invalid");
        emailerror = true;
      } else {
        email.classList.add("is-invalid");
        emailerror = false;
      }
    });
    $("#passwordchecker").hide();
    let passworderror = true;
    $("#passwordid").keyup(function () {
      validatepassword();
    });
    async function validatepassword() {
      let passwordvalue = $("#passwordid").val();
      if (passwordvalue == "") {
        $("#passwordchecker").show();
        passworderror = false;
        return false;
      } else if (passwordvalue <= 3) {
        $("#passwordchecker").show();
        $("#passwordchecker").html("*Password Length Must Be Greater Than 3");
        $("#passwordchecker").css("color", "red");
        passworderror = false;
        return false;
      } else {
        $("#passwordchecker").hide();
      }
    }
    $("#confirmidchecker").hide();
    let confirmerror = true;
    $("#confirmid").keyup(function () {
      validatecomfirmpassword();
    });
    function validatecomfirmpassword() {
      let confirmvalue = $("#confirmid").val();
      let passwordvalue = $("#passwordid").val();
      if (confirmvalue != passwordvalue) {
        $("#confirmidchecker").show();
        $("#confirmidchecker").html("*Password Didnt Matched");
        $("#confirmidchecker").cssL("color", "red");
        confirmerror = false;
        return false;
      } else {
        $("#confirmidchecker").hide;
      }
    }
    $("#submitbtn").click(function () {
      validatename();
      validatepassword();
      validatepassword();
      validatecomfirmpassword();
      if (
        userchecker == true &&
        emailerror == true &&
        passworderror == true &&
        confirmerror == true
      ) {
        $("#formsubmit").submit(function (evt) {
          evt.preventDefault();
          window.history.back();
        });
        return true;
      } else {
        return false;
      }
    });
  });
</script>
